html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body, #map {
	width: 100%;
	height: 100%;
	margin: 0;
	border: 0;
	padding: 0;
}

html, body {
	overflow: hidden;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}

@font-face {
    font-family: 'firecatmedium';
    src: url('../fonts/FirecatMedium-webfont.eot');
    src: url('../fonts/FirecatMedium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FirecatMedium-webfont.woff') format('woff'),
         url('../fonts/FirecatMedium-webfont.ttf') format('truetype'),
         url('../fonts/FirecatMedium-webfont.svg#firecatmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

h1, h2, h3, h4, h5, h6 {
	margin: 2px 0;
	padding: 0;
	font-family: 'firecatmedium', Helvetica, Arial, sans-serif;
}

h1 { font-size: 1.5em; }
h2 { font-size: 1.3em; }
h3 { font-size: 1.1em; }
h4 { font-size: 0.9em; }
h5 { font-size: 0.7em; }
h6 { font-size: 0.5em; }

p { margin: 3px 0; }

.overthemap {
	position: absolute;
	z-index: 150;
	border-radius: 20%;
	background: rgba(255,255,255);
	background: rgba(255,255,255,0.6);
	border: 2px solid #E8A61D;
	padding: 8px;
}

.load-cat-about {
	bottom: 10px;
	left: 10px;
	cursor: help;
}

.cat-about {
	display: none;
	width: 300px;
	height: 220px;
	top: 50%;
	left: 50%;
	margin: -110px 0 0 -150px;
	text-align: center;
}

.cat-about.open {
	display: block;
}

/* slider overrides */
.esriSimpleSlider {
	background: transparent;
	border: 0;
}

.esriSimpleSlider:hover {
	background: rgb(76,76,76);
	background: rgba(76,76,76,0.3);
}

.esriSimpleSlider div {
	
}

.esriSimpleSliderVertical .esriSimpleSliderIncrementButton {
	background: url('../images/CatClawUp.png') center center no-repeat;
	line-height: 40px;
	border-bottom: 3px solid transparent;
}

.esriSimpleSliderVertical .esriSimpleSliderDecrementButton {
	background: url('../images/CatClawDown.png') center center no-repeat;
	line-height: 13px;
	border-top: 3px solid transparent;
}